// Base Colors
$base-font-color: #515151;
$heading-font-color:  #EF826F;      // @CHANGE
$subheading-font-color: $grey;

$highlighter-font-color: #EF826F;
$link-color: #515151;
$masthead-font-color: #EF826F;
$sidebar-color: #EF826F;
